@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:slnt,wght@-10..0,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}

.main-child {
    height: 100vh;
    width: 100%;
    font-family: 'lexend', sans-serif;
    background-color: rgba(0, 0, 0, 0.866);
    color: white;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    border-bottom: 10px solid white;
    font-size: clamp(30px, 2vw, 40px);
}

.lower {
    height: 60%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 100px;
    align-items: center;
    font-size: clamp(20px, 2vw, 25px);
}

#input {
    height: 20%;
    background-color: transparent;
    border: 5px solid white;
    font-size: clamp(18px, 2vw, 20px);
    color: white;
    width: 25%;
}
.btn{

    font-weight: bold;
    font-size: clamp(18px, 2vw, 20px);
    color: black;
    background-color: white;
    padding-block: 15px;
    padding-inline: 30px;
}
#btn {
    font-weight: bold;
    font-size: clamp(18px, 2vw, 20px);
    color: black;
    background-color: white;
    padding-block: 15px;
    padding-inline: 30px;
    width: 25%;

}
#btn:hover{
    background-color: rgba(255, 255, 255, 0.479);
    color: white;
}
#for-width {
    width: 15%;
}
.limit{
    color: white;
    font-weight: bold;
    font-size: clamp(20px,2vw ,30px);
}